body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}

section.screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
}
.fixed-header {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000; 
    background-color: white; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.fixed-header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px; 
}
.nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    margin-left: 20px;
}
.nav-menu a {
    text-decoration: none;
    color: #333; 
    padding: 5px 10px;
    transition: color 0.3s;
    display: inline-block; 
}

.screen-1 {
    background: white;
    color: lch(0.55% 0 296.81);
}

.screen-1 .content h1 {
    font-size: 70px;
  margin-bottom: 30px
}
.btn {
    display: inline-block;
    padding: 14px 30px;
    background: #000000;
    color: rgb(249, 245, 245);
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 20px;
}
.btn:hover {
    background-color: #ffffff; 
    color:black;
}
.screen-2 {
    background: #ffffff;
}

.screen-2 h2 {
    font-size: 40px;
}

.cards {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

.card {
    width: 280px;
    background: rgb(255, 255, 255);
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(221, 129, 129, 0.1);
    text-align: center;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card h3 {
    font-size: 22px;
    margin: 15px 0 5px;
}

.card p {
    padding: 0 20px 20px;
    font-size: 14px;
    color: #000000;
}

.card button {
    margin-bottom: 20px;
    padding: 12px 25px;
    background: #000000;
    color: rgb(254, 252, 253);
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.screen-3 {
    background: white;
    color: rgb(13, 13, 13);
}

.screen-3 .about {
    max-width: 500px;
    backdrop-filter: blur(6px);
    padding: 30px;
    border-radius: 20px;
    background: rgba(255,255,255,0.15);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

.btn-light {
    padding: 12px 25px;
    background: rgb(255, 255, 255);
    color: #0f0f0f;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    display: inline-block;
}

.screen-4 {
    background: #ffffff;
}

.screen-4 h2 {
    font-size: 38px;
    font-family: 'Playfair Display';
}

.advantages {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 40px;
}

.adv-card {
      height: 200px;
    width: 100px;
    background: rgb(255, 255, 255);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
}

.screen-5 {
    background: #ffffff;
}

.screen-5 h2 {
    font-size: 40px;
}

.contact-box {
    background: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 5px;    margin-top: 20px;
}

button:hover,
.btn:hover,
.btn-light:hover,
.nav a:hover {
    filter: brightness(85%);
    transition: 0.25s ease;
}